<div class="row size">
  <div class="col">
      <div class="card product">
          <div class="row">
              <div class="col-md-4" style="justify-content: center;">
                  <img src="{{ product }}" class="img">
              </div>
              <div class="col-md-8">
                  <div class="row">
                      <div class="col-6 mt-5">
                          <p>Your {{ title }} Amount</p>
                          <h4>{{ totalPrice | currency: 'IDR' }}</h4>
                          <p>{{ title }} Amount : {{totalGram}} Gram</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card product">
          <div class="row">
              <div class="col-4">
                  <div class="row crd">
                      <div class="col">
                          <h6>Buy Price</h6>
                          <h4>Rp.850.000/gr</h4>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="row crd">
                      <div class="col">
                          <h6>Sell Price</h6>
                          <h4> Rp.810.000/gr</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="mt-5">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
    Pocket</button>
</div>
<div class="row">
  <div class="col-md-3 mt-2 me-0" *ngFor="let item of data">
    <div class="card" style="width: 18rem;">
      <div class="d-flex ms-auto">

        <div class="me-2">
            <a data-bs-toggle="modal" (click)="getPocketById(item.id)" data-bs-target="#exampleModal1"><img src="../../../../../../assets/pen.png" alt="pen" style="width: 15px;"></a>
            <div class="col-md">
              <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Edit Pocket</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form [formGroup]="form">
                                  <div class="mb-3">
                                      <label for="recipient-name" class="col-form-label">Pocket name:</label>
                                      <input  formControlName="pocketName" type="text" value="{{ pocketName }}" class="form-control" id="recipient-name">
                                      <p>Description about your pocket</p>
                                  </div>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updatePocket(pocketName)">Edit</button>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

          </div>
        <div>
          <a ><img (click)="deletePocket(item.id)" src="../../../../../../assets/trash.png" alt="trash" style="width: 15px;" data-bs-target="#exampleModal2"></a>
        </div>
   </div>
        <div class="row" ><br></div>
        <div class="card-body">
            <h6 class="card-title">{{ item.pocketName }}</h6>
            <h4 class="text-muted">{{ item.totalAmount | currency: 'IDR' }}</h4>
            <p class="card-text">{{ item.pocketQty }} gram</p>
        </div>
    </div>
</div>

  <div class="col-md mt-5">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Pocket</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="form">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Pocket name:</label>
                            <input  formControlName="pocketName" type="text" placeholder="My {{title}} Saving" class="form-control" id="recipient-name">
                            <p>Description about your pocket</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="addPocket()" data-bs-dismiss="modal">Create Pocket</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md mt-5">
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Pocket</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form [formGroup]="form">
                      <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Pocket name:</label>
                          <input  formControlName="pocketName" type="text" placeholder="My {{title}} Saving" class="form-control" id="recipient-name">
                          <p>Description about your pocket</p>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Create Pocket</button>
              </div>
          </div>
      </div>
  </div>
</div>
</div>


<div class="card text-center mt-5">
  <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
              <a class="nav-link {{ buy }}"  (click)="changeActive('buy')">Buy {{title}}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link {{ sell }}" (click)="changeActive('sell')">Sell {{title}}</a>
          </li>
      </ul>
  </div>
  <div *ngIf="buy=='active'">
    <app-buy-gold></app-buy-gold>
  </div>
  <div *ngIf="sell=='active'">
    <app-sell-gold></app-sell-gold>
  </div>

</div>

<div class="card">
  <div class="card-body">
      <div class="row">
          <div class="col-md">
              <button type="button" class="{{ chartBuy }} me-2" (click)="changeChart('buy')">Buy Prices</button>
              <button type="button" class="{{ chartSell }} me-2" (click)="changeChart('sell')">Sell Prices</button>
          </div>
      </div>
  </div>
  <div *ngIf="chartBuy=='btn btn-primary'">
    <app-buy-chart></app-buy-chart>
  </div>
  <div *ngIf="chartSell=='btn btn-primary'">
    <app-sell-chart></app-sell-chart>
  </div>
</div>
