.size{
  margin-top: 80px;
}
.size1{
  margin-top: 80px;
}
.product{
  height: 200px;
  padding: auto 20px;
  background-color: lightgrey;
}

.img{
  width: 200px;
  margin: auto 10px;
}

.crd{
  margin-top: 50px;
  padding: 10px;
}
