<div class="row">
    <h3>Our Products</h3>
    <div class="col-4 column">
        <div class="card" style="width: 18rem center">
            <img src="../../../../assets/1.png" class="card-img-top center" alt="Platinum Logo">
            <div class="card-body">
              <h5 class="card-title">Platinum Investment</h5>
            </div>
          </div>
    </div>
    <div class="col-4 column center">
        <div class="card" style="width: 18rem center">
            <img src="../../../../assets/2.png" class="card-img-top center" alt="Gold Logo">
            <div class="card-body">
              <h5 class="card-title">Gold Investment</h5>
            </div>
          </div>
    </div>
    <div class="col-4 column center">
        <div class="card" style="width: 18rem center">
            <img src="../../../../assets/3.png" class="card-img-top center" alt="Silver Logo">
            <div class="card-body">
              <h5 class="card-title">Silver Investment</h5>
            </div>
          </div>
    </div>
</div>