.column {
    float: left;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: black;
  }
  h3 {
    text-align: center;
    padding-top: 50px;
}

img {
    width: 300px;
}

.row{
    background-color: #ccc;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


