<div class="card-body">
  <div class="row">
      <div class="col-md">
          <div class="card" style="width: 800px; height: 90px;">
              <div class="row mt-2">
                  <div class="col-md">
                      <p>Value on IDR</p>
                      <p>0</p>
                  </div>
                  <div class="col-md">
                      <p>Value on gram</p>
                      <p>0</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md">
          <button type="button" class="btn btn-warning" style="width: 500px;">Next</button>
          <br>
          <p>With click button above you agree with aur Term and Condition</p>
      </div>
  </div>
</div>
