<nav appNavbar>
    <div class="container-fluid">
        <a routerLink=""><img src="../../../../assets/Mandiri_logo.png" alt="mandiri logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div *ngFor="let product of products">
            <li class="nav-item">
              <a class="nav-link text-muted" [routerLink]="['/products/']" [queryParams]="{search: (product.productName), productId: (product.id)}" (click)="getData(product.id, product.productName, product.productImage)">{{ product.productName }}</a>
            </li>
          </div>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <label class="nav-link text-muted">{{sampleDate | relativeDate: "dddd, DD MMMM YYYY" }}</label>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          <a routerLink="/profile" class="m-2"><img src="../../../../assets/no-profile.png" alt="profile" style="width: 30px;"></a>
        </form>
      </div>
    </div>
  </nav>
