.card {
    border: none;
    text-align: center;
}

h3 {
    text-align: center;
}

button {
    width: 100%;
    color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin: auto;

  }
