<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="column">
        <h3 style="text-align:center"> Why mandiri gold ?</h3>
        <table>
            <thead>
                <tr>
                    <th>Delivery</th>
                    <th>Legality</th>
                    <th>Price</th>
                </tr>   
            </thead>
           <tbody>
            <tr>
                <td>We have free delivery <br>service to all city in <br>indonesia.</td>
                <td>We commit to keep your <br>trusted with legality <br>transaction</td>
                <td>Good quality with <br>best prices.</td>
            </tr>
           </tbody>
    <br>
    <br>
           <thead >
            <tr>
                <th>Reward</th>
                <th>Transaction</th>
                <th>Brand</th>
            </tr>   
        </thead>
    
       <tbody>
        <tr>
            <td>More transaction more <br>point and reward.</td>
            <td>Our transaction is simple <br>and secure</td>
            <td>Our product is the best <br>on quality and brand.</td>
    
        </tr>
       </tbody>
        </table>
        <br>
        <h3>Let's join us for free</h3>
        <br>
        <button type="button" class="btn btn-primary btn-lg btn-block">Register</button>
    </div>

</body>
</html>