<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="row">
    <div class="column">
        <img src="../../../../../assets/Mandiri_logo.png" alt="mandiri logo" style="width: 125px;">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Event</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="column">
        <h5>Central Office</h5>
        <p>Jl.Jendral Gatot Subroto Kav. 36-38 <br>Jakarta 12190 indonesia</p>
    </div>
    <div class="column">
        <h5>Follow us</h5>
        <table align="center">
            <th><img src="../../../../../assets/facebook.png" alt="facebook"></th>
            <th><img src="../../../../../assets/twitter.png" alt="twitter"></th>
            <th><img src="../../../../../assets/instagram.png" alt="instagram"></th>
        </table>

    </div>
  </div>
</body>
</html>