<app-navbar></app-navbar>                            <!-- navbar -->
<app-corousel></app-corousel><hr />                  <!-- corousel -->

<!-- register -->
<div class="row">
  <div class="column-split-2">
    <app-promotion></app-promotion>
  </div>
  <div class="column-split-2">
    <app-detail></app-detail>
  </div>
</div><hr/>


<app-product></app-product><hr />                    <!-- product-->
  <app-contact-info></app-contact-info> <hr />       <!-- contact Info-->


<div class="center">
    <p> © 2020 PT Bank Mandiri (Persero) Tbk.</p>
</div>

