<div>
    <div class="row">
        <div class="col-4 column">
            <img src="{{ mandiriLogo }}" alt="mandiri logo" style="width: 125px;">
            <ul *ngFor="let item of link">
                <li><a href="#">{{ item }}</a></li>
            </ul>

        </div>
        <div class="col-4 column">
            <h5>Central Office</h5>
            <p>Jl.Jendral Gatot Subroto Kav. 36-38 <br>Jakarta 12190 indonesia</p>

        </div>
        <div class="col-4 column">
            <h5>Follow us</h5>
            <table align="center">
                  <th *ngFor="let media of sosialMedia"><img src="{{ media }}" alt="Logo"></th>
            </table>
        </div>
    </div>
    <p>© 2020 PT Bank Mandiri (Persero) Tbk.</p>
</div>
