<div class="row">
    <div class="col-6">
        <img src="../../../../assets/subs.png" class="img-fluid" alt="benefit logo">
    </div>
    <div class="col-6 center" style="float:none;margin:auto;">
        <h3>Why Mandiri Gold ?</h3>
        <div>
            
        <div class="row">
            <div class="col"  *ngFor="let service of serviceBenefits">
                <div class="card mb-3" style="max-width: 18rem;">
                    
                    <div class="card-body">
                      <h5 class="card-title">{{service.title}}</h5>
                      <p class="card-text">{{service.message}}</p>
                    </div>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="col" *ngFor="let product of productBenefits">
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{product.title}}</h5>
                      <p class="card-text">{{product.message}}</p>
                    </div>
                  </div>
            </div>
        </div>
        <h3>let's join us for free</h3>

        <button type="button" class="btn btn-warning">Register</button>


    </div>
</div>
