<div class="card-body">
  <div class="row">
      <div class="col-md">
          <div class="card" style="width: 800px; height: 90px;">
              <form [formGroup]="formTransaction">
                <div class="row mt-2">
                  <div class="col-md">
                      <p>Value on IDR</p>
                      <input type="text" value="Rp. {{currentPrice | currency: 'IDR'}}" formControlName="idr" style="border: none; text-align: center;" class="center">
                  </div>
                  <div class="col-md">
                      <p>Value on gram</p>
                      <input type="text" formControlName="valueOnGram" placeholder="0" style="border: none; text-align: center;">
                  </div>
              </div>
              </form>
          </div>
      </div>
      <div class="col-md">
          <button (click)="detailItem()" type="button" class="btn btn-warning" style="width: 500px;" routerLink="/products/transaction">Next</button>
          <br>
          <p>With click button above you agree with aur Term and Condition</p>
      </div>
  </div>
</div>
