.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: black;
  }

  row:after {
    content: "";
    display: table;
    clear: both;
  }

  h3 {
      text-align: center;
      padding-top: 50px;
  }